*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
}


.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

form{
    width: 100%;
    max-width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    /* height: 100vh; */
    text-align: center;
}

.service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn{
    padding: 10px;
    width: 150px;
    border: 2px solid #0f0f0f;
    border-radius: 20px;
}



